@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');
.about-container {
    font-family: 'Waiting for the Sunrise';
    position: relative;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-header {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
}

.window-container {
    position: relative;
    text-align: center;
}

.window-image {
    width: 40vw;
}

.about-typewriter-container {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    width: 90%;
}

.about-typewriter-wrapper {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .about-container {
        display: flex;
        flex-direction: column;

    }
    .window-image {
        width: 100vw;
        height: 60vh;        
    }

    .about-typewriter-container {
        font-size: 1rem;
        width: 90%;
    }
}