.about-container {
    position: relative;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header {
    display: flex;
    flex-direction: row;
}

