.bg-cideo-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;    
}

.background-video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

@media (max-width: 768px) {
    .background-video {
        width: auto;
    }
}